*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --color-primary: #0b132b;
  --color-secondary: #1c2541;
  --color-ternary: #3a506b;
  --color-white: #ffffff;
}
body{
  background-color: var(--color-primary);
}
img{
  width: 100%;
  height: auto;
}

/*  HEADER SECTION STYLES */
header{
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
}
.info-btn{
  border-radius: 50%;
  border:none;
  padding: 0.5rem;
  text-align: center;
  font-weight: 700;
  display: none;
}

/* Score Board Styles */
.score-board{
  height: 30vh;
  background-color: var(--color-ternary);
  padding: 1rem;
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.player{
  padding: 0 0 0.5rem;
}

/* Game activity styles */
.game-activity{
  background-color:var(--color-ternary);
  height: 50vh;

}
.prompt{
  color: var(--color-white);
  text-align: center;
  padding: 1rem;
}
.choices{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.options{
  background-color:var(--color-white);
  padding: 0.5rem;
  border-radius: 20px;
  width: 150px;
  height: auto;
}
.options:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid;
}
.result-box{
  height: 5rem;
  width: 50%;
  background-color: var(--color-white);
  margin: 0 auto 1rem;
  display: none;
}

/* Footer Styles */
footer{
  padding: 1rem;
  color:var(--color-white);
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.social-links > a{
  color: var(--color-white);
}
.github{
  padding: 0 1rem 0;
}


